<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CategoryPictureNames</key>
	<array>
		<dict>
			<key>Id</key>
			<integer>23</integer>
			<key>Name</key>
			<string>supplement</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>10</integer>
			<key>Name</key>
			<string>dessert</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>18</integer>
			<key>Name</key>
			<string>rolls</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>9</integer>
			<key>Name</key>
			<string>drinks</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>5</integer>
			<key>Name</key>
			<string>sushi</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>2</integer>
			<key>Name</key>
			<string>sets</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>6</integer>
			<key>Name</key>
			<string>soup</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>7</integer>
			<key>Name</key>
			<string>salads</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>8</integer>
			<key>Name</key>
			<string>roast</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>20</integer>
			<key>Name</key>
			<string>snacks</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>3</integer>
			<key>Name</key>
			<string>noodles</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>25</integer>
			<key>Name</key>
			<string>constructor</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>1</integer>
			<key>Name</key>
			<string>pizza</string>
		</dict>
		<dict>
			<key>Id</key>
			<integer>24</integer>
			<key>Name</key>
			<string>barbecue</string>
		</dict>
	</array>
	<key>Annotations</key>
	<array>
		<dict>
			<key>longtitude</key>
			<string>53.8903501</string>
			<key>latitude</key>
			<string>27.5517677</string>
			<key>title</key>
			<string>McDonalds </string>
			<key>subtitle</key>
			<string>ул. Бобруйская, 6</string>
		</dict>
		<dict>
			<key>longtitude</key>
			<string>53.8934163</string>
			<key>latitude</key>
			<string>27.5643444</string>
			<key>title</key>
			<string>Родны кут</string>
			<key>subtitle</key>
			<string>ул. Октябрьская, 5</string>
		</dict>
		<dict>
			<key>longtitude</key>
			<string>53.9256568</string>
			<key>latitude</key>
			<string>27.5926897</string>
			<key>title</key>
			<string>Пицца Темпо</string>
			<key>subtitle</key>
			<string>ул. Якуба Коласа, 37 </string>
		</dict>
		<dict>
			<key>longtitude</key>
			<string>53.9062279</string>
			<key>latitude</key>
			<string>27.4333284</string>
			<key>title</key>
			<string>Burger King</string>
			<key>subtitle</key>
			<string>ул. Притыцкого, 154</string>
		</dict>
		<dict>
			<key>longtitude</key>
			<string>53.9044614</string>
			<key>latitude</key>
			<string>27.5516102</string>
			<key>title</key>
			<string>KFC</string>
			<key>subtitle</key>
			<string>пр. Победителей, 1</string>
		</dict>
	</array>
</dict>
</plist>
